.metadata/
RemoteSystemsTempFiles/
DUMP*.tmp
/libraries/
libraries.old

*/.settings/
*/arduino/
*/Release/
*/Debug/
*/.cproject
*/.ino.cpp
*/.project
*/spec.d
*.bak
/post_processing_boards.txt
/post_processing_platform.txt
/pre_processing_boards.txt
/pre_processing_platform.txt
/.idea/
*.iml
ota.bat
/d1mqtt/ota.bat
/pom.xml
